
*.pyc

*.log

*.csg

*.csg

*.md5

# Exclude Visual Micro, Visual Studio files
*.vcxproj*
*.vmps.xml
*.vsarduino.h
*.sln
*.suo
*.sdf
*.csg

*.csg

/software/firmware/lib
/software/firmware/lib/*
/software/firmware/.build_ano/*
*.pickle

*.csg
