*.pyc
*.log
*.csg

# Exclude Visual Micro, Visual Studio files
*.vcxproj*
*.vmps.xml
*.vsarduino.h
*.sln
*.suo
*.sdf

# Exclude simlink for lib and arturo build files
/software/firmware/lib
/software/firmware/lib/*
/software/firmware/.build_ano/*
*.pickle
.vscode/c_cpp_properties.json
.vscode/arduino.json
