body {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  background: #fff;
  color: #303030;
  position: relative;
  text-indent: 0;
  font-size: 1em;

  padding: 0px;
  margin: 1em 1em;
}
body,p,td,div,li {
  word-wrap: break-word;
  font-size:1em;
}

#mdcontent {
    max-width: 50em;
    margin: 0px auto;
    text-align:left;
}

h1 { 
    margin-top: 2em; 
    font-size: 2.3em;
}
h2 {
    margin-top: 2em;
    border-bottom: 1px solid #ddd;
}
@media print {
    h2 {page-break-before: always;}
}

h4 {
  color: #111;
  font-size: 1.2857em;
  line-height: 1.1667em;
  margin: 1.1667em 0
}
h5 {
  color: #111;
  font-size: 1.15em;
  line-height: 1.3em;
  margin: 1.3em 0
}
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.5em 0
}

p {
/*  font-size: 0.8em;*/
}

/* Setup classes for image floats etc. */
.left { float: left; margin-right: 1.5em; }
.right { float: right; margin-left: 1.5em; }
.center { display:block; margin: 0 auto 1.5em; }
.left, .right { margin-bottom: .8em; margin-top: .5em; }

/* Remove margins from multimarkdown's figures (used with lone images) */
figure { margin: 0; }


h1,h2,h3,h4,h5,h6 {
/*  line-height: 1.5em*/
}

li {
  
}
li li {
  font-size: 100%
}
li p {
  font-size: 100%;
  margin: .5em 0
}

a {
  -webkit-transition: color .2s ease-in-out;
  color: #0d6ea1;
  text-decoration: none
}
a:hover {
  color: #3593d9
}
.footnote {
  color: #0d6ea1;
  font-size: .8em;
  vertical-align: super
}
img {
  max-width: 100%;
  height: auto
}


blockquote p {
  font-size: 110%;
  font-style: italic;
  line-height: 1.6em
}


/* tables */
table {

}
th {
    font-weight: normal;
    padding: 0.3em 1em;
    background-color: #888;
    color: white;
}
td {
    padding: 0.2em 1em;
    border-bottom: 1px solid #ddd;
}

/* Thumbnail images in tables - e.g. Parts lists */
td img {
    width: 100px;
    height:auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
td img:hover {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}